/**Globales**/
html{
    font-size: 62.5%;
}

body{
    font-family: 'Lato', sans-serif;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto 0 auto;
}


.site-header.inicio{
    background-image: url(../images/header.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
}

.barra{
    display: flex;
    justify-content: space-between;
    padding-top: 3rem; 
    align-items: center;
}

.navegation a{
    color: white;
    text-decoration: none; 
    font-size: 1.8rem;    
    margin-right: 2rem; 
}
.navegation a:hover{
    color: green;
}
.navegation a:last-of-type{
    margin-right: 0;
}

h1{
    font-size: 2rem:
}

